@model SaleVM

<div class="w-100 card border-0 p-4">
    <div class="card-header bg-success bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">შექმენი ფასდაკლება</h2>
            </div>
        </div>
    </div>

    <div class="card-body border p-4">
        <form method="post" class="row">
            <div class="p-3">
                <div class="form-floating py-1 col-12">
                    <input asp-for="Sale.BrandId" class="form-control border shadow" />
                    <label asp-for="Sale.BrandId" class="ms-2"></label>
                    <span asp-validation-for="Sale.BrandId" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="Sale.SaleTypeId" class="form-control border shadow" />
                    <label asp-for="Sale.SaleTypeId" class="ms-2"></label>
                    <span asp-validation-for="Sale.SaleTypeId" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="Sale.Priority" class="form-control border shadow" />
                    <label asp-for="Sale.Priority" class="ms-2"></label>
                    <span asp-validation-for="Sale.Priority" class="text-danger"></span>
                </div>                
                <div class="form-floating py-1 col-12">
                    <input asp-for="Sale.ImageUrl" class="form-control border shadow" />
                    <label asp-for="Sale.ImageUrl" class="ms-2"></label>
                    <span asp-validation-for="Sale.ImageUrl" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="Sale.Description" class="form-control border shadow" />
                    <label asp-for="Sale.Description" class="ms-2"></label>
                    <span asp-validation-for="Sale.Description" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="Sale.StartDate" type="date" class="form-control border shadow" />
                    <label asp-for="Sale.StartDate" class="ms-2"></label>
                    <span asp-validation-for="Sale.StartDate" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="Sale.EndDate" type="date" class="form-control border shadow" />
                    <label asp-for="Sale.EndDate" class="ms-2"></label>
                    <span asp-validation-for="Sale.EndDate" class="text-danger"></span>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-success w-100">
                            შექმნა
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Admin123456" asp-action="Index" class="btn btn-secondary w-100">
                            გამოსვლა
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@* client side validation *@
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
 }