@model IndexHomeVM

<h1 class="text-center p-4">ყველა ფასდაკლება ერთ სივრცეში</h1>

<div>
    <form method="post" class="container" style="background-color:white">
        <div class="row justify-content-center px-lg-5 m-lg-4 m-sm-0 px-sm-0" style="--bs-gutter-x:0">
            <div class="form-group col-3 d-flex">
                <select asp-for="SelectedBrandId" class="form-control form-control-lg" asp-items="Model.Brands">
                    <option value="">აირჩიეთ ბრენდი</option>
                </select>
            </div>
            <div class="form-group col-6 d-flex">
                <button type="submit" class="btn btn-warning">
                    <i class="bi bi-search"></i> გაფილტრე
                </button>
            </div>
        </div>

        <div class="row">
            @foreach (var sale in Model.Sales)
            {
                <div class="col-md-12 col-lg-3 d-flex">
                    <div class="row" style="border: 1px solid #000; border-radius: 1px;">
                        <a data-bs-toggle="modal" data-bs-target='#exampleModal-@(sale.Id)'>
                            <img class="img-fluid p-2 mx-auto d-block" style="width: 80%; object-fit: cover;" src="@sale.ImageUrl">
                        </a>
                        <div class="d-flex justify-content-between">
                            <p class="card-title text-secondary pb-2 fw-bold text-center" style="font-size:x-large">@sale.Brand.NameGeo</p>
                        </div>
                        <div class="d-flex justify-content-between ">
                            <p class="card-text pb-2">
                                კატეგორია: @sale.SaleType.NameGeo
                            </p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="card-text pb-2">
                                აქტიურია: @sale.EndDate.ToString("dd/MM/yyyy")-მდე
                            </p>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-sm btn-warning pb-2" data-bs-toggle="modal" data-bs-target='#exampleModal-@(sale.Id)'>
                                ვრცლად
                            </button>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="exampleModal-@(sale.Id)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl" style="border: 1px solid #aaa; border-radius:7px;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-3 text-success" id="exampleModalLabel">ფასდაკლების დეტალები</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body m-1">
                                <partial name="_SaleDetail" model="sale" />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </form>
</div>

@section Scripts {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/javascript">
         $(function () {
            $("#SelectedBrandId").select2();
        });
    </script>
}