@model Sale

@{
    var prevId = ViewData["prevId"] as int?;
    var nextId = ViewData["nextId"] as int?;
}

<div class="container">
    <div class="row">
        <div class="col-1 d-none d-lg-block z-3">
            @if (prevId != null)
            {
                <a data-bs-toggle="modal"
                   data-bs-dismiss="modal"
                   data-bs-target="#exampleModal-@prevId"
                   class="btn btn-secondary position-absolute top-50 start-0 translate-middle-y ms-3 z-3">
                    &#8592; წინა
                </a>
            }
        </div>        
        <div class="col-12 col-lg-7 order-2 order-lg-1">
            <img src="@Model.ImageUrl" style="border-radius:10px;" width="100%" />
        </div>        
        <div class="col-12 col-lg-3 order-3 order-lg-2">
            <p class="card-title text-warning pb-2" style="font-size:xx-large">@Model.Brand.NameGeo</p>
            <p class="card-text" style="font-size:large">               
                @Html.Raw(Model.Description)
            </p>
            <span class="text-end p-0 pt-3 m-0">
                <span class="float-right">ფასდაკლება აქტიურია: @Model.EndDate.ToString("dd/MM/yyyy")-მდე </span><br />
            </span>
        </div>
        <div class="col-1 d-none d-lg-block z-3">
            @if (nextId != null)
            {
                <a data-bs-toggle="modal"
                   data-bs-dismiss="modal"
                   data-bs-target="#exampleModal-@nextId"
                   class="btn btn-secondary position-absolute top-50 end-0 translate-middle-y pe-3 z-3">
                    შემდეგი &#8594;
                </a>
            }
        </div>
    </div>
</div> 



