<h4 class="pt-5">რეკლამის განთავსების სურვილის შემთხვევაში დაგვიკავშირდით:</h4>

<h3 class="pt-2"><i class="bi bi-envelope"></i> Pasdakleba.com@gmail.com</h3>
<h3 class="pt-2"><i class="bi bi-phone"></i> 500 504 501</h3>