<h3 class="py-5 text-center">რეკლამის განთავსების სურვილის შემთხვევაში დაგვიკავშირდით:</h3>

<h4 class="py-4 text-center"><i class="bi bi-envelope"></i> Pasdakleba.com@gmail.com</h4>
<h4 class="py-4 text-center"><i class="bi bi-phone"></i> 500 504 501</h4>